
{%- assign collection = collections[section.settings.collection] -%}

<div class="featcol-wrap collection-grid-wrap">

  <h2 class="collection-grid-heading">{{ section.settings.collection-heading }}</h2>

  <ul class="grid collection-grid">

  {% for product in collection.products limit: section.settings.collection-product-count %}

  {% include 'product-card' %}

  {% endfor %}

  </ul><!-- / .collection-grid -->

</div><!-- / .featcol-wrap -->



{% schema %}

  {
    "name" : "Featured Collection",
    "class" : "featcol",
    "tag" : "section",
    "settings" : [
      {
        "id" : "collection-heading",
        "type" : "text",
        "label" : "Collection Heading",
        "default" : "Featured Collection"
      },
      {
        "id" : "collection-product-count",
        "type" : "range",
        "label" : "Number of Products to Display",
        "min" : 2,
        "max" : 6,
        "default" : 4
      },
      {
        "id" : "collection",
        "type" : "collection",
        "label" : "Collection"
      }
    ],
    "presets" : [
      {
        "name" : "Featured Collection",
        "category" : "Collections"
      }
    ]
  }

{% endschema %}
