{% paginate collection.products by 10 %}

  <div class="collection-grid-wrap">

    <h2 class="collection-grid-heading">{{ collection.title }}</h2>

    <ul class="grid collection-grid">

  {% for product in collection.products %}

    {% include 'product-card' %}

  {% else %}

    <p>no matches</p>

  {% endfor %}

    </ul><!-- / .collection-grid -->

  </div><!-- / .collection-grid-wrap -->

  {% if paginate.pages > 1 %}

    {{ paginate | default_pagination }}

  {% endif %}

{% endpaginate %}
